@font-face {
  font-family: 'cryptofont';
  src:  url('#{$cf-font-path}/cryptofont.eot');
  src:  url('#{$cf-font-path}/cryptofont.eot#iefix') format('embedded-opentype'),
    url('#{$cf-font-path}/cryptofont.ttf') format('truetype'),
    url('#{$cf-font-path}/cryptofont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
